<div class="page-header">
  <h1>About Valley Fire Lost & Found Animals</h1>
</div>

<h2>Purpose</h2>

<p>
  This web site was created in response to the devastating Valley
  Fire, which started in Lake County, CA in 2015.  Its goal is to
  reunite owners and their pets or animals that were separated in
  the chaos of the rapidly spreading fire.
</p>

<p>
  Thanks to <a href="https://github.com/calebhaye">Caleb Haye</a> 
  for the idea and inspiration.
</p>

<h2>Contact</h2>

<p>
  Contact Marcel M. Cary at
  <%= mail_to "mc-valley-fire-animals@oak.homeunix.org",
        "mc-valley-fire-animals@oak.homeunix.org",
         subject: "Valley Fire Animals: " %>.
</p>

<h2>Timeline</h2>

<p>This site is evolving:</p>

<table class="table">
  <tr>
    <th>Sep 13, evening</th>
    <td>
      I learned of this fire from a cashier at
      <a href="http://www.srcommunitymarket.com/">Community Market</a>
      in Sebastopol who told me about a food/equipment drive for
      evacuees
    </td>
  </tr>

  <tr>
    <th>Sep 14, morning</th>
    <td>
      Caleb suggested helping by creating a web site to help
      reunite owners and their animals
    </td>
  </tr>

  <tr>
    <th>Sep 14, lunch</th>
    <td>
      I put up the first draft of this site to guage interest
    </td>
  </tr>

  <tr>
    <th>Sep 14, evening</th>
    <td>
      The site started accepting reports of lost or found animals
    </td>
  </tr>

  <tr>
    <th>Sep 15</th>
    <td>
      The site received 8 reports posted and was used by 433 people.
      It now accepts photos.  Sorry for losing the first two of them. :(
    </td>
  </tr>

  <tr>
    <th>Sep 16</th>
    <td>
      The site now has 20 reports posted and was used by 1074 people.
      I'm getting help from other Rails developers
      (<a href="https://github.com/ruralocity">Aaron Sumner</a> and
      Rachel James) and more people spreading the word (Josh Simmons
      and Tim O'Reilly).
    </td>
  </tr>

  <tr>
    <th>Sep 17</th>
    <td>
      The site now has 51 reports and was used by 2088 people.
      We launched several new features including
      search by animal type, lost vs. found, and keyword.  Reunited pets
      can be marked as such thanks to Caleb Haye.
    </td>
  </tr>

  <tr>
    <th>Sep 18</th>
    <td>
      The site now has 61 reports and was used by 2726 people.
      Aaron will be taking over operations for a bit so I can take
      a break.
    </td>
  </tr>
      
  <tr>
    <th>Sep 19</th>
    <td>
      Aaron here, filling in for Marcel over the weekend.  There's been
      some confusion resulting from our new feature to mark animals and
      owners as reunited. I'm fixing false reports as quickly as I can.
      If you see an animal marked as reunited that's not, please let us
      know and I'll fix ASAP. In the meantime, I made a few changes to
      the process to hopefully reduce false reports.
    </td>
  </tr>

  <tr>
    <th>Sep 20</th>
    <td>
      The site now has 88 reports and has been used by 3434 people.
    </td>
  </tr>

  <tr>
    <th>Sep 21</th>
    <td>
      We've removed the incorrect "Reunited" designation from all the
      reports that were erroniously marked as such.  Sorry for the
      confusion.  We have three reports <em>confirmed</em> reunited
      and several more with confirmation pending.  With 93 reports,
      3578 users, it appears traffic to the site is starting to taper
      off.
    </td>
  </tr>
</table>

<p>More to come!</p>

<p><a href="/">Return to Home Page</a></p>

<br>
