<div class="page-header">
  <h1>About Valley Fire Lost & Found Animals</h1>
</div>

<h2>Purpose</h2>

<p>
  This web site was created in response to the devastating Valley
  Fire, which started in Lake County, CA in 2015.  Its goal is to
  reunite owners and their pets or animals that were separated in
  the chaos of the rapidly spreading fire.
</p>

<p>
  Thanks to <a href="https://github.com/calebhaye">Caleb Haye</a> 
  for the idea and inspiration.
</p>

<h2>Contact</h2>

<p>
  Contact Marcel M. Cary at
  <%= mail_to "mc-valley-fire-animals@oak.homeunix.org",
        "mc-valley-fire-animals@oak.homeunix.org",
         subject: "Valley Fire Animals: " %>.
</p>

<h2>Timeline</h2>

<p>This site is evolving:</p>

<table class="table">
  <tr>
    <th>Sep 13, evening</th>
    <td>
      I learned of this fire from a cashier at
      <a href="http://www.srcommunitymarket.com/">Community Market</a>
      in Sebastopol who told me about a food/equipment drive for
      evacuees
    </td>
  </tr>

  <tr>
    <th>Sep 14, morning</th>
    <td>
      Caleb suggested helping by creating a web site to help
      reunite owners and their animals
    </td>
  </tr>

  <tr>
    <th>Sep 14, lunch</th>
    <td>
      I put up the first draft of this site to guage interest
    </td>
  </tr>

  <tr>
    <th>Sep 14, evening</th>
    <td>
      The site started accepting reports of lost or found animals
    </td>
  </tr>

  <tr>
    <th>Sep 15</th>
    <td>
      The site received 8 reports posted and was used by 433 people.
      It now accepts photos.  Sorry for losing the first two of them. :(
    </td>
  </tr>

  <tr>
    <th>Sep 16</th>
    <td>
      The site now has 20 reports posted and was used by 1074 people.
      I'm getting help from other Rails developers (Aaron Sumner and
      Rachel James) and more people spreading the word (Josh Simmons
      and Tim O'Reilly).
    </td>
  </tr>

  <tr>
    <th>Sep 17</th>
    <td>
      The site now has 51 reports and was used by 2088 people.
      We launched several new features including
      search by animal type, lost vs. found, and keyword.  Reunited pets
      can be marked as such thanks to Caleb Haye.
    </td>
  </tr>
</table>

<p>More to come!</p>

<p><a href="/">Return to Home Page</a></p>

<br>
