<div class="page-header">
  <h1>Printable Flyer</h1>
</div>

<p>
  Download and print this PDF flyer to help spread the word:
  <%= link_to "valley-fire-animals-flyer.pdf",
    image_path("valley-fire-animals-flyer.pdf") %>.
</p>
