<div class="jumbotron">
  <h1>Valley Fire Lost & Found Animals</h1>
  <p>The place to find and report missing animals for the Valley Fire in Lake County, CA</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>

<p class="text-center">
  <a class="btn btn-primary btn-lg" href="/reports/new" role="button">Report an Animal You Found or Lost</a>
</p>

<p class="text-center">
  <a class="btn btn-primary btn-link" href="/reports">View Existing Reports</a>
</p>


<br>
<div class="row">
  <aside class="col-sm-8 col-sm-offset-2">
    <p style="font-style: italic">
      &ldquo;I absolutely think people should be using this.  There
      are too many different places that people are posting. I am
      heading up there today to try and assist with the animal rescue
      effort and will be telling everyone about this. Thanks for your
      help! :)&rdquo;
    </p>

    <p>
      &mdash; Jaime Viera, photographer,
      <%= link_to "vieraphotographics.com",
            "http://www.vieraphotographics.com" %>
    </p>
  </aside>
</div>
