<div class="jumbotron">
  <h1>Valley Fire Lost & Found Animals</h1>
  <p>The place to find and report missing animals for the Valley Fire in Lake County, CA</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>

<p class="text-center">
  <a class="btn btn-primary btn-lg" href="/reports/new" role="button">Report an Animal You Found or Lost</a>
</p>

<p class="text-center">
  <a class="btn btn-primary btn-link" href="/reports">View Existing Reports</a>
</p>


<br>
<div class="row">
  <div class="col-sm-6">
    <h2>Pets Runited</h2>

    <blockquote>
      <%= image_tag "zumba.jpg", class: "pull-left img-rounded", width: "170", style: "margin: 0 15px 5px 0" %>

      <p style="font-style: italic">
        <strong>I found her</strong> by walking back and forth
        for two days and nights within a couple block radius. I asked
        every single person I came across while walking if they'd seen
        her and there had been sightings. I finally found her by her
        answering my calls from under a house two blocks from our
        evacuation site.  She's indoor only,  so this was traumatizing
        for her as well as us. Just arrived home today.  Burned front and
        back yard but house intact.  Smoke damage but we're working hard
        on cleaning it all up.
      </p>

      <p>
        &mdash; Wendy McLean, reunited pet owner,
        <%= link_to "report #49",
              "http://www.valleyfireanimals.com/reports/49" %>
      </p>
    </blockquote>
  </div>

  <div class="col-sm-6">
    <h2>Searchable Reports</h2>

    <blockquote>
      <p style="font-style: italic">
        &ldquo;Give this website information to any person who calls
        or visits your clinic trying to search for their pet.  It is
        much easier than scrolling through a dozen different facebook
        pages... the easiest site to navigate that I have seen so
        far.&rdquo;
      </p>

      <p>
        &mdash; Dr. Chris S. Holmes, DVM,
        <a href="http://www.wassonmemorialvetclinic.com/">
          Wasson Memorial Veterinary Clinic</a> in Lake County
      </p>
    </blockquote>

    <blockquote>
      <p style="font-style: italic">
        &ldquo;I absolutely think people should be using this.  There
        are too many different places that people are posting. I am
        heading up there today to try and assist with the animal rescue
        effort and will be telling everyone about this. Thanks for your
        help! :)&rdquo;
      </p>

      <p>
        &mdash; Jaime Viera, photographer,
        <%= link_to "vieraphotographics.com",
              "http://www.vieraphotographics.com" %>
      </p>
    </blockquote>
  </div>
</div>
