<div class="jumbotron">
  <h1>Valley Fire Lost and Found Animals</h1>
  <p>The place to find and report missing animals for the Valley Fire in Lake County, CA.  (Coming soon.)</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>

<p class="text-center">
  <a class="btn btn-primary btn-lg" href="/reports/new" role="button">Report an Animal You Found or Lost</a>
</p>

<p class="text-center">
  <a class="btn btn-primary btn-link" href="/reports">View Existing Reports</a>
</p>
