<div class="page-header">
  <h1>Resources</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2><a style="color: black" href="http://www.LoveLakeCounty.org/">LoveLakeCounty.org</a></h2>

    <p class="lead">
      Help Lake County Recover From the valley fire.
    </p>

    <p>
      Not all organizations are created equal.  In fact, some may be
      collecting donations of goods without a clear plan for delivering
      them to those in need.
    </p>

    <p>
      <a href="http://www.LoveLakeCounty.org/">LoveLakeCounty.org</a> will
      help you direct your contribution &mdash; whether money, goods, or
      your time &mdash; to where it will have the greatest impact.
    </p>

    <p>This site is developed in partnership with LoveLakeCounty.org.</p>

    <a href="http://www.LoveLakeCounty.org/">
      <%= image_tag "love-lake-county-logo.png", width: "105" %>
    </a>
  </div>

  <div class="col-sm-6">
    <h2>Get Involved</h2>

    <p>
      <a href="https://lake-county-fire-slack.herokuapp.com/">Join the chatroom</a>
    </p>
  </div>
</div>

