<div class="page-header">
  <h1>Terms of Service</h1>
</div>

<p>By using this site, you agree to the following terms:</p>

<ul>
  <li>
    You release this site, its creators and operators, and their families,
    agents, etc etc from all liability related to the site.
  </li>

  <li>
    You must not use the site to submit content other than what is
    indicated on the site.  For example, you will not use the
    lost-and-found reports to advertise your web site.
  </li>

  <li>
    You agree to have your public contact information made public
    so that others can respond to your report.
  </li>

  <li>
    We may contact you using the information you provide us, for example
    to let you know about changes to the site or regarding your report.
  </li>

  <li>
    We may collect information about how people are using the site to
    determine how to best support the site's goal of reuniting animals
    with their owners.
  </li>

  <li>
    The content of this site is licensed under a
    <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons</a>
    license so that this information may be relayed as needed with the goal
    of reuniting animals with their owners.
  </li>
</ul>
